:root {
    --whilte: #ffffff;
    --gray: #e6e6e6;
    --grey: #cbc9c9;
    --green: #17abb3;
}

body {
    background-color: var(--whilte);
}
h2{
    color: var(--green);
}
i{
    color: var(--green);
}
.text-special{
    color: var(--green);
}
.bg-green {
    background-color: var(--green) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.text-green {
    color: var(--green) !important;
}

.text-white {
    color: var(--whilte) !important;
}

.img-container-green,
.img-container-gray {
    position: absolute;
    height: 1500px;
    width: 1500px;
    border-radius: 50%;
    bottom: 25%;
    left: -68%;
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: -6%;
    left: 42%;
    border: 5px solid var(--grey);
    border-radius: 100%;
}